<%= simple_form_for @user do |f| %>
	<%= f.input :email, required: true, autofocus: true %>
	<div class="row">
		<div class="col-xs-6">
			<%= f.input :first_name %>
		</div>
		<div class="col-xs-6">
			<%= f.input :last_name %>
		</div>
	</div>
	<%= f.input :admin, inline_label: 'Is admin?' %>
	<%= f.input :approved, inline_label: 'Is approved?' %>

	<%= f.button :submit, "Submit", :class => "btn btn-success" %>
<% end %>
