<div id="accordion" class="panel panel-info">
	<div class="panel-heading">
		<b><a class="accordion-toggle" data-toggle="collapse" data-target="#collapseSearch" href="#collapseSearch"><%= icon('search')%> Search:</a></b>
	</div>
	<div id="collapseSearch" class="panel-collapse collapse">
		<div class="panel-body">
			<%= search_form_for @q, url: search_static_pages_path do |f| %>
				<div class="row">
					<div class="col-xs-6">
			  			<%= f.input :classification_cont, :label => "Classification:" %>
			  		</div>
			  		<div class="col-xs-6">
			  			<%= f.input :description_cont, :label => "Description:" %>
			  		</div>
			  	</div>
			  <%= f.button :submit, :class => "btn btn-success pull-right" %>
			<% end %>
		</div>
	</div>
</div>